
.block-talk{
  background: url(/assets/images/declaration/bg-talk.svg) center top no-repeat;
  background-size: 90%;
  margin-top: 0;
  padding: 20% 0;
}


.product-page{
  .header-site{
    min-height: 680px;
    height: 100vh;
    line-height: 100vh;
    background: no-repeat center center;
    background-size: cover;
    color: #fff;
    .logo{
      img{
        width: 320px;
        height: auto;
      }
    }
    &-inner{
      margin: 5vh auto;
      display: inline-block;
      line-height: 1;
      vertical-align: bottom;
    }
    &-top{
      position: absolute;
      top: 0;
      left: 0;
      right:0;
    }
    @media(min-width: $screen-sm-min){
      &-top{
        margin: 0 auto 25vh;
      }
    }

    .glyphicon{
      font-size: 14px;
    }
  }
  &.product-objets{
    .header-site{
      background-image: url(/assets/images/product/objets/objets.jpg);
    }
  }
  &.product-habitation{
    .header-site{
      background-image: url(/assets/images/product/habitation/habitation.jpg);
    }
  }
  &.product-digital{
    .header-site{
      background-image: url(/assets/images/product-type/product-digital.jpg);
    }
  }
  .content-top{
    padding: 40px 15px;
    background: $shakespeare;
    color:#fff;
    .page-title{
      margin: 0 0 35px;
      font-size: 26px;
      font-weight: 300;
      text-transform: uppercase;
      .subtitle{
        margin-top: 15px;
        display:block;
        font-size: 16px;
      }
      @media(min-width: $screen-sm-min){
        font-size: 40px;
        .subtitle{
          font-size: 22px;
        }
      }
    }
  }
}

@media(min-width: $screen-sm-min){

    .alternate-item{
      .cover{
        img{
          top:0;
          transform: translate(-50%, 0);
        }
      }
    }

}
