<div class="panel-page-header panel panel-default no-margin">
  <div class="panel-heading">
    <a class="picto" (click)="goBack()" id="valuable-item-guarantees-back">
      <span class="material-icons text-info">arrow_back</span>
    </a>
    <span class="panel-heading-title text-lg">
        <strong>Détail des garanties incluses</strong>
      </span>
  </div>
</div>
<div class="panel panel-memo">
  <div class="panel-body">
    <ul class="text-list-with-icon">
      <li class="text-md">
        <span class="material-icons">done</span>
        <span>Court-circuit : Un dommage causé par une surtension ou par un courts-circuit, par exemple, quand la foudre a provoqué une augmentation de
                      la tension dans le réseau électrique - pendant que l'appareil est en charge</span>
      </li>
      <li class="text-md">
        <span class="material-icons">done</span>
        <span>Liquide : En contact avec un liquide, que ce soit en renversant une boisson ou en le faisant tomber dans les toilettes. Par la suite,
                      l'appareil portable ne fonctionne plus</span>
      </li>
      <li class="text-md">
        <span class="material-icons">done</span>
        <span>Dommages suite à une chute</span>
      </li>
      <li class="text-md">
        <span class="material-icons">done</span>
        <span>Dommages par tiers</span>
      </li>
      <li class="text-md">
        <span class="material-icons">done</span>
        <span>Erreurs d'utilisation</span>
      </li>
      <li class="text-md">
        <span class="material-icons">done</span>
        <span>Feu</span>
      </li>
    </ul>
  </div>
</div>
