<div class="page-full alert alert-info text-center">
  <div class="text-center">
    <div class="logo small center-block animated bounceIn">
      <a routerLink="/home" id="back-home-habitation-header"><img src="/assets/images/logo-hello-victor-white.svg" alt="Hello victor" class="img-responsive center-block" /></a>
    </div>
    <div class="material-icons icon-xl icon-fab-border">done</div>
    <h1>Merci !</h1>
    <div class="text-md">Votre devis a bien été transmis aux équipes.</div>
  </div>
  <div class="dash dash-center anim dash-white"></div>
  <div class="text-xs">
    <p class="text-semibold">
      Le tarif indiqué n'est pour le moment qu'une estimation.
      <br/> Nous revenons rapidemement vers vous par mail avec une proposition de contrat.
    </p>
    <p>Vous pourrez ensuite ajuster votre prime très précisèment en faisant l'inventaire de vos objets et de leur valeur avec
      vos factures via notre app mobile.</p>
  </div>
      <span class="icon-alone-xl twa twa-v"></span>
      <h2 class="">
        Ça serait sympa de partager avec vos amis !
      </h2>
      <br><br>
    <div class="block-share text-center">
      <a href="https://www.facebook.com/sharer/sharer.php?u=https://goo.gl/SPLfiU" target="_blank" id="partage_facebook">
        <span class="icon icon-facebook"></span>
      </a>
      <a href="https://twitter.com/intent/tweet/?url=https://goo.gl/jOlqSX&text=Hello%20Victor%2C%20une%20assurance%20en%20ligne%20qui%20couvre%20tous%20vos%20biens%20%23insurtech"
        target="_blank" id="partage_twitter">
        <span class="icon icon-twitter"></span>
      </a>
      <a href="http://www.linkedin.com/shareArticle?mini=true&url=https://goo.gl/4gy7Wc&title=L'assurance 100% ligne&summary=Une assurance 100% en ligne qui couvre tous vos biens, incluant une app mobile d'inventaire et qui rembourse rapidement %23insurtech"
        id="partage_linkedin" target="_blank">
        <span class="icon icon-linkedin"></span>
      </a>
      <a href="https://plus.google.com/share?url=https://goo.gl/ZixcFo&hl=fr" target="_blank" id="partage_gplus">
        <span class="icon icon-googleplus"></span>
      </a>
      <a href="mailto:?subject=Hello%20Victor%2C%20une%20assurance%20100%25%20en%20ligne%20qui%20couvre%20tous%20vos%20biens&body={{mail()}}"
        target="_blank" id="partage_mail">
        <span class="icon icon-email"></span>
      </a>
    </div>
  <div>
    <br><br>
    <a routerLink="/home" class="btn btn-lg btn-border" id="finish-back-home">Retour au site</a>
  </div>
</div>
