<div class="panel panel-memo">
  <div class="panel-body">
    <div class="text-center">
      <span class="material-icons text-xl">done</span>
      <h1 class="text-center">Devis envoyé</h1>
    </div>
    <hr />
    <p>Le tarif indiqué est une estimation.</p>
    <p>Nous revenons vers vous par mail avec un contrat.</p>
    <p>Vous pourrez ensuite ajuster votre prime très précisèment en faisant l'inventaire de vos objets et de leur valeur avec
      vos factures via notre app mobile.</p>
  </div>
  <div class="group-container">
    <a routerLink="/home" class="btn btn-lg btn-raised btn-primary center-block" id="finish-back-home">Retour au site</a>
  </div>
</div>
