.mat-input-container {
  display: block !important;
  .mat-input-wrapper {
    margin-top: 0;
  }
  .mat-hint {
    position: static;
    display: inline-block;
    margin-top: 10px;
    font-size: 13px;
    color: $brand-info;
  }
}

.mat-input-info {
  .mat-input-underline {
    border-color: $brand-info;
  }
  .mat-input-element {
    color: $brand-info;
  }
}

.mat-radio-group {
  display: block;
  padding: 15px 0;
  .mat-radio-button {
    margin-right: 30px;
  }
  .mat-radio-label-content {
    color: #000;
  }
  .mat-radio-checked {
    .mat-radio-outer-circle {
      border-color: #000;
    }
    .mat-radio-inner-circle {
      background-color: #000;
    }
  }
  .mat-radio-disabled {
    opacity: 0.7;
  }
  .mat-hint {
    position: static;
    display: block;
    font-size: 65%;
    color: $dove-gray;
  }
}

// Active slider.
.mat-slider-thumb-container {
  .mat-slider-thumb {
    border-width: 2px;
    transform: scale(0);
  }
  &.mat-slider-thumb-label-showing .mat-slider-thumb {
    transform: scale(0);
    background-color: $brand-info;
  }
  .mat-slider-thumb-label {
    border-radius: 50% 50% 0;
  }
  .mat-slider-thumb-label-text {
    opacity: 1;
  }
}

.mat-slider-horizontal-label-end {
  float: right;
  margin-top: -20px;
  margin-right: 8px;
  color: $brand-info;
  font-weight: 500;
}

.mat-slider-thumb-label-showing.mat-slider-horizontal {
  display: block;
  .mat-slider-thumb-label {
    transform: translateY(5px) scale(1) rotate(45deg);
    background-color: $brand-info;
  }
}

md-dialog-container.mat-dialog-container {
  margin: auto;
  padding: 0;
  hv-uncomplete-dialog div, hv-confirm-delete-dialog div {
    padding: 20px 50px;
  }
  hv-video {
    iframe {
      width: 100%;
      height: 80vh;
      @media(max-width: $screen-xs-max) {
        height: 38vh;
      }
    }
  }
  .mat-dialog-actions:last-child {
    margin-bottom: 0;
  }
}

.mat-toolbar-fixed-bottom{
  position: fixed;
  z-index: 500;
  right: 0;
  bottom: 0;
  left:0;
}

.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button {
  margin: 10px 1px;
  padding: 5px 30px;
  font-family: unset;
  font-weight: 300;
  text-transform: uppercase;
}
.mat-raised-button {
  &[disabled], &[disabled][disabled]{
    background: rgba(#fff, 0.6);
    font-size: 12px;
    cursor: not-allowed;
  }

}
.mat-primary-border{
  background: $brand-info;
  color: #fff;
  border: 1px solid #fff;
}

.mat-lg-button{
  padding: 5px 35px;
  font-size: 20px;
}

.mat-fab{
  padding: 0;
  background-color: $brand-info;
  img{
    max-height: 60%;
    max-width: 60%;
  }
  &[disabled][disabled]{
    background-color: #6e6e6e;
    opacity: 0.65;
  }
}
.mat-toolbar{
  padding: 15px;
  p:last-child{
    margin-bottom: 0;
  }
}
.mat-toolbar-fixed-bottom{
  .mat-button, .mat-raised-button{
    margin: 0;
    padding: 0;
  }  
}
.mat-input-container .mat-input-subscript-wrapper{
  top: calc(100% + 10px);
}