@import 'common/text';
@import 'common/menu';
@import 'common/icon';
@import 'common/link';
@import 'components/block-note';

.no-padding{
  padding: 0 !important;
}

.align-items{
  font-size: 0;
  .align-item{
    float:none;
    display: inline-block;
    font-size: initial;
  }
  &.middle{
    .align-item{
      vertical-align: middle;
    }
  }
}
.element-overlap{
  position: relative;
  z-index: 10;
  + .element-overlap{
    margin-left: -16.7%;
  }
  img{
    width: 100%;
  }
}

$max-element : 4;
@for $i from 1 through $max-element{
  .element-overlap:nth-child(#{$i}){
    z-index: $max-element - $i;
    margin-top: ($i - 1 ) * 11%;
  }
}



@media(min-width: $screen-sm-min){
  .alternate-item{
    .row{
      display:flex;
      //flex-wrap: wrap; // mauvais affichage sous safari
      > div{
        justify-content: center;
        align-items: center;
        display: flex;
        direction: ltr;
        vertical-align: middle;
        &.valign-top{
          vertical-align: top;
        }
        &.block-text{
          .block-inner{
            width: 100%;
            flex-direction: column;
          }
        }
      }
      @media(min-width: $screen-sm-min){
        &:nth-child(even){
          direction: rtl;
        }
      }
      +.row{
        border-top: 1px solid #eee;
      }
    }
  }
}

@import "common/block";

.sticker{
  position: absolute;
  top: 35%;
  transform: translate(-90%, -70%);
  max-width: 90px;
}

.flex-item{
  display:flex;
}
.summary-fixed-bottom{
  padding-bottom: 100px;
}


.dropdown-title{
  cursor: pointer;
  line-height: 24px;
  i, .icon, .material-icons{
    display:block;
  }
}
.dropdown-content{
  display:none;
  .list-group{
    padding-top: 0;
  }
  .list-group-item{
    border-top: 0;
    border-bottom: 1px solid rgba($alto, 0.36);
  }
}

.list-text{
  padding: 0 30px;
  li{
    margin-bottom: 15px;
  }
}

.full-width {
  width: 100%;
}

@import "common/form";
@import "common/cart";

.page-full{
  margin: 0;
  min-height: 100vh;
}
