<div class="summary-fixed-bottom">
  <div class="panel-page-header panel panel-default no-margin">
    <div class="panel-heading">
      <a class="picto" routerLink="/quote/summary" id="subscibtion-back">
        <span class="material-icons text-info">arrow_back</span>
      </a>
      <span class="panel-heading-title text-lg">
        <strong>Coordonnées</strong>
      </span>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="text-lg padding-vertical">
          <p>Afin de vous répondre précisément veuillez s'il vous plaît nous laisser vos coordonnées... <span class="twa twa-wink"></span></p>
        </div>
      </div>

      <div class="col-xs-10">
        <div class="row">
          <div class="group-container">
            <md-input-container class="text-lg full-width mat-input-info" floatPlaceholder="never">
              <input mdInput placeholder="Adresse e-mail" [(ngModel)]="quoteService.email">
            </md-input-container>
            <md-input-container class="text-lg full-width mat-input-info" floatPlaceholder="never">
              <input mdInput placeholder="Nom" [(ngModel)]="quoteService.lastName">
            </md-input-container>
            <md-input-container class="text-lg full-width mat-input-info" floatPlaceholder="never">
              <input mdInput placeholder="Prénom" [(ngModel)]="quoteService.firstName">
            </md-input-container>
            <md-input-container class="text-lg full-width mat-input-info" floatPlaceholder="never">
              <input mdInput placeholder="Téléphone" [(ngModel)]="quoteService.phone">
            </md-input-container>
          </div>
        </div>
      </div>
      <div class="container-fluid">
      <div class="form-group text-center col-xs-12">
        <button (click)="validQuote()" class="btn-block btn btn-lg btn-raised btn-primary" id="subscribtion-valid">
          Envoyer ma demande
        </button>
        <a routerLink="/home" class="center-block text-center" id="subscription-cancel">Non finalement ça m'intéresse pas</a>
      </div>
      </div>

    </div>
  </div>


</div>
