.block-text{
  padding: 25px 40px;
  &-title{
    font-size: $text-lg;
    margin-bottom: 40px;
    font-weight: 400;
    text-transform:none;
  }
  &-button{
    padding-top: 35px;
    padding-bottom: 15px;
  }
  p{
    font-size: $text-md;
    color:$tundora;
    text-align: justify;
  }
}