.cart-details{
  margin-bottom: 30px;
  .cart-item-label{
    border-left: 4px solid $brand-primary;
    padding: 0 15px;
  }
  .cart-item:nth-child(even){
    .cart-item-label{
      border-color: rgba($brand-primary, 0.75);
    }
  }
  .block-price{
    width: 90px;
  }
  .block-remove{
    width:45px;
    background: $wild-sand;
  }
}
