.container-slider-lg{
  .group-container-title{
    margin-bottom: 45px;
  }
  .mat-slider{
    .mat-slider-thumb-label{
      height: 45px;
      width: 45px;
      top: -62px;
      right: -22px;
    }
  }
}
