<div class="summary-fixed-bottom">
  <div class="panel-page-header panel panel-default no-margin">
    <div class="panel-heading">
      <a class="picto" (click)="goBack()" id="valuable-item-back">
        <span class="material-icons text-info">arrow_back</span>
      </a>
      <span class="panel-heading-title text-lg">
        <strong>Assurer un objet</strong>
      </span>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-4 alert alert-info">
        <div class="text-lg">
          <p>
            <b>Pour assurer</b> un objet et connaitre le juste prix <b>nous avons besoin de quelques détails</b> ...
            <span class="e1a-lg e1a-pray"></span>
            <span class="e1a-lg e1a-kissing_heart"></span>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-md-8">
        <div class="row">
          <div class="group-container clearfix">
            <md-input-container class="text-lg" floatPlaceholder="never">
              <input mdInput placeholder="Intitulé de l'objet (ex {{exemple()}})" [(ngModel)]="quoteService.valuableItem.name">
              <md-hint align="end">{{quoteService.valuableItem.typeDescription()}}</md-hint>
            </md-input-container>
          </div>
        </div>
        <div class="row">
          <div class="group-container form-group">
            <p class="text-lg">Calculez la valeur de votre appareil</p>
            <div class="text-md"><strong>En indiquand le prix ainsi que la date d'achat</strong></div>
          </div>
          <div class="group-container clearfix">
            <div class="row col-xs-10">
              <label class="control-label">Montant de l'achat</label>
              <div class="form-control-infos"><span class="text-semibold text-lg">€</span></div>
              <md-input-container class="text-lg" floatPlaceholder="never">
                <input mdInput placeholder="Saisissez le montant" [(ngModel)]="quoteService.valuableItem.purchaseAmount" (blur)="quoteService.calculAmount()">
              </md-input-container>
            </div>
          </div>
          <div class="group-container clearfix">
            <div class="row col-xs-10 ">
              <label class="control-label">Date de l'achat</label>
              <hv-datepicker [(date)]="purchaseDate" placeholder="JJ/MM/AAAA"></hv-datepicker>
            </div>
          </div>
          <div class="group-container clearfix dropdown-title container-fluid text-md text-italic">
            A la validation de votre contrat d'assurance vous pourrez compléter avec facture + photo de l'objet à assurer pour garantir son remboursement
            sur justificatif via notre app mobile.
          </div>
          <div class="container-fluid padding-vertical">
            <div class="row">
              <div class="col-xs-4">
                <p class="text-sm">Vétusté</p>
                <div class="text-lg"><span class=" text-danger">{{(1-quoteService.valuableItem.depreciation)*100 | number:'1.0-0'}}</span> %</div>
              </div>
              <div class="col-xs-4">
                <p class="text-sm">Valeur estimée</p>
                <div class="text-lg"><span class="text-success text-semibold">{{quoteService.valuableItem.value | number:'1.2-2'}}</span> €</div>
              </div>
              <div class="col-xs-4">
                <p class="text-sm">Franchise</p>
                <div class="text-lg"><span class="text-success text-semibold">{{quoteService.valuableItem.deductible | number:'1.2-2'}}</span>                  €</div>
              </div>
            </div>
          </div>
          <div class="group-container">
            <div class="text-lg"><b>Le saviez vous ?</b> vous pouvez aussi compléter en optimisant votre protection</div>
          </div>
          <div class="list-group list-group-gray">
            <div class="list-group-item">
              <div class="row flex-item">
                <div class="row-content-left">
                  <div class="row-action-primary">
                    <img src="/assets/images/picto/voleur.svg" alt="Voleur" class="img-responsive" />
                  </div>
                  <div class="row-content">
                    <div class="list-group-item-heading text-semibold">Protection contre le vol</div>
                    <div class="list-group-item-text">
                      Vous êtes couvert en cas de vol en tout lieu, remboursement sur justificatif et description écrite des circonstances du vol
                      avec témoignange d'un tiers
                    </div>
                  </div>
                </div>
                <div class="row-content-right">
                  <div class="row-action-primary">
                    <md-slide-toggle [(ngModel)]="quoteService.valuableItem.insuranceOptions.theft.state" (change)="quoteService.calculAmount()"></md-slide-toggle>
                    <div class="togglebutton">
                      <div class="text-xs text-semibold">{{quoteService.valuableItem.insuranceOptions.theft.state?'-':'+'}}{{quoteService.valuableItem.insuranceOptions.theft.cost
                        | currency:'EUR':true:'1.2-2'}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="group-container">
        <div class="text-lg text-semibold">
          <p>
            <a routerLink="/quote/valuable-item-guarantees/{{origin}}" id="valuable-item-guarantees-click">Voir</a> le détail de vos garanties <br/>
            <a routerLink="/quote/valuable-item-guarantees/{{origin}}" id="valuable-item-guarantees-click">
              <span class="e1a-lg e1a-eye "></span>
              <span class="e1a-lg e1a-crossed_swords"></span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid navbar navbar-fixed-bottom navbar-primary">
    <div class="pull-left padding-vertical">
      <div class="text-lg"><span class="text-semibold">Notre proposition</span>
        <div class="block-price text-xl">
          <span class="text-bold">{{quoteService.valuableItem.premium | number:'1.2-2'}}</span>
          <span class="text-top">€/mois</span>
        </div>
      </div>
    </div>
    <div class="pull-right">
      <div class="row">
        <a (click)="validate()" class="btn btn-primary btn-raised" id="valuable-item-valid">
          <span class="material-icons">done</span>
          <br/>
          <div class="text-uppercase">Valider</div>
        </a>
      </div>
    </div>
  </div>
</div>
