<div class="summary-fixed-bottom">
  <div class="panel-page-header panel panel-default no-margin">
    <div class="panel-heading">
      <span class="panel-heading-title text-lg">
        <strong>Ma police d'assurance</strong>
      </span>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 alert alert-info">
        <div class="text-lg padding-vertical">
          <p>Pour seulement <strong>{{quoteService.amount | number:'1.2-2'}}</strong> €/mois vous serez maintenant bien assuré</p>
        </div>
      </div>

      <div class="col-md-8">
        <div class="row">
          <div class="list-group cart-details">
            <div class="list-group-item cart-item" *ngIf="quoteService.habitation">
              <div class="row">
                <div class="flex-item">
                  <a routerLink="/quote/habitation"  class="row-content-left cart-item-label">
                    <div class="row-content">
                      <div class="text-semibold">Votre habitation en tant que <strong>locataire</strong> d'un <strong>{{quoteService.habitation.rooms}} pièces</strong>                        dont la valeur mobilère est de <strong>{{quoteService.habitation.value | number:'1.0-2'}}</strong>                        €</div>
                    </div>
                  </a>
                  <a routerLink="/quote/habitation"  class="row-content-right">
                    <div class="text-center block-price">
                      <div class="text-sm text-center">Tarif mensuel</div>
                      <div class="text-lg"><strong>{{quoteService.habitation.premium | number:'1.2-2'}}</strong>€</div>
                    </div>
                  </a>
                  <div class="row-content-right block-remove">
                    <a (click)="deleteHabitation()" id="summary-delete-habitation"><span class="material-icons">delete</span></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="list-group-item cart-item" *ngFor="let vi of quoteService.valuableItems">
              <div class="row">
                <div class="flex-item">
                  <a (click)="getValuableItem(vi)" class="row-content-left cart-item-label">
                    <div class="row-content">
                      <span class="text-lg text-semibold">{{vi.name}}</span>
                      <br>
                      <span class="text-xs">{{vi.typeDescription()}}</span>
                    </div>
                  </a>
                  <a (click)="getValuableItem(vi)" class="row-content-right">
                    <div class="text-center">
                      <div class="text-sm text-center">Tarif mensuel</div>
                      <div class="text-lg"><strong>{{vi.premium | number:'1.2-2'}}</strong>€</div>
                    </div>
                  </a>
                  <div class="row-content-right  block-remove">
                    <a (click)="delete(vi)" id="summary-delete-objet"><span class="material-icons">delete</span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container-fluid">
          <a routerLink="/quote/subscribtion" class="btn btn-lg btn-raised btn-primary center-block" id="summary-valid">
            Je poursuis ma demande
          </a>
          <a (click)="validAnonymousQuote()" class="center-block text-center" id="summary-cancel">Non merci, ça ne m'intéresse pas finalement</a>
        </div>

        <div class="container-fluid text-center">
          <br>
          <b>ou encore autre chose à assurer ?</b>
          <br>
          <span class="text-xs">(si oui sélectionnez une des catégories ci-dessous)</span>
        </div>

        <div class="row">
          <div class="list-group">
            <div class="list-group-item">
              <div class="row flex-item">
                <a routerLink="/quote/valuable-item/1/habitation" class="row-content-left">
                  <div class="row-content text-lg col-xs-12">
                    <strong>Un objet numérique</strong>
                  </div>
                </a>
                <div class="row-content-right no-border">
                  <div class="row-picture">
                    <button routerLink="/quote/valuable-item/1/habitation" class="btn btn-fab btn-info text-lg" id="summary-add-appareil-numerique">
                      <img src="/assets/images/product-type/smartphone.svg" alt="phone" />
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="list-group-item">
              <div class="row flex-item">
                <a routerLink="/quote/valuable-item/2/habitation" class="row-content-left">
                  <div class="row-content text-lg col-xs-12">
                    <strong>Un objet de loisir</strong>
                  </div>
                </a>
                <div class="row-content-right no-border">
                  <div class="row-picture">
                    <button routerLink="/quote/valuable-item/2/habitation" class="btn btn-fab btn-info text-lg" id="summary-add-materiel-loisir">
                      <img src="/assets/images/picto/velo.svg" alt="Vélo" />
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="list-group-item">
              <div class="row flex-item">
                <a routerLink="/quote/valuable-item/3/habitation" class="row-content-left">
                  <div class="row-content text-lg col-xs-12">
                    <strong>Un objet précieux</strong>
                  </div>
                </a>
                <div class="row-content-right no-border">
                  <div class="row-picture">
                    <button routerLink="/quote/valuable-item/3/habitation" class="btn btn-fab btn-info text-lg" id="summary-add-objet-precieux">
                      <img src="/assets/images/picto/montre.svg" alt="Montre" />
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="list-group-item" *ngIf="!quoteService.habitation">
              <div class="row flex-item">
                <a routerLink="/quote/habitation" class="row-content-left">
                  <div class="row-content text-lg col-xs-12">
                      <strong>Une assurance habitation</strong>
                  </div>
                </a>
                <div class="row-content-right no-border">
                  <div class="row-picture">
                    <button class="btn btn-fab btn-info text-lg" routerLink="/quote/habitation" id="summary-add-habitation">
                      <img src="/assets/images/picto/maison.svg" alt="Maison" />
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="list-group-item" disabled>
              <div class="row flex-item">
                <div class="row-content-left">
                  <div class="row-content text-lg col-xs-12">
                    <strong style="color: #64d2af;">Une assurance santé</strong>
                    <span class="text-sm">Service bientôt disponible</span>
                  </div>
                </div>
                <div class="row-content-right no-border">
                  <div class="row-picture">
                    <button class="btn btn-fab btn-success text-lg" disabled>
                      <img src="/assets/images/picto/coeur.svg" alt="Santé" />
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>