<div class="product-page main-content" [ngClass]="{'product-objects': isObjects, 'product-habitation': isHabitation, 'product-health': isHealth}">
  <header class="header-site text-center bg-parallax">
    <div class="header-site-inner">
      <div class="header-site-top">
        <div class="logo animated bounceIn">
          <a href="/" id="back-home-habitation-header"><img src="/assets/images/logo-hello-victor-white.svg" alt="Hello victor" class="img-responsive center-block"
            /></a>
        </div>
      </div>
      <div class="header-site-bottom">
        <div class="slogan block-anim text-zoom">{{slogan}}</div>
        <div>
          <a class="link-video fancybox fancybox.iframe" href="https://www.youtube.com/embed/YmbaM0gYACc?autoplay=1" id="video-{{page}}">
            <span class="glyphicon glyphicon-play"></span>
            <span class="center-block video-text">Voir la vidéo</span>
          </a>
        </div>
        <a class="btn-down" href="#detail">
          <span class="glyphicon glyphicon-menu-down"></span>
        </a>
      </div>
    </div>
  </header>
  <div id="detail" class="content-top text-center">
    <h1 class="page-title">Assurez à la demande ce que vous voulez,<br/> quand vous voulez<span class="subtitle text-lowercase">et ce entièrement depuis votre mobile <img src="/assets/images/mobile.png" style="height: 30px"></span></h1>
    <div class="container list-icon-text">
      <div class="active icon-text-item col-xs-6 col-sm-4">
        <a href="assurance-objets.html#content">
          <div class="img"><img src="/assets/images/picto/objets.svg" alt="Objects courants" class="img-responsive center-block" /></div>
          <div class="list-text">
            Objets
            <div class="glyphicon glyphicon-menu-down"></div>
          </div>
        </a>
      </div>
      <div class="active icon-text-item col-xs-6 col-sm-4">
        <a href="assurance-habitation.html#content">
          <div class="img col-xs-8 col-sm-12">
            <div class="center-block"><img src="/assets/images/picto/maison.svg" alt="Habitation" class="img-responsive center-block" /></div>
          </div>
          <div class="list-text">
            Habitation
            <div class="glyphicon glyphicon-menu-down"></div>
          </div>
        </a>
      </div>
      <div class="active icon-text-item col-xs-6 col-sm-4">
        <a href="#">
          <div class="img col-xs-8 col-sm-12"><img src="/assets/images/picto/coeur.svg" alt="Santé" class="img-responsive center-block" /></div>
          <div class="list-text">
            Santé
            <div class="glyphicon glyphicon-menu-down"></div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="section section-gray section-hello">
    <div class="container">
      <div class="row valign-middle">
        <div class="col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-0">
          <p>
            <img src="/assets/images/hello.svg" alt="Hello" class="img-responsive center-block " />
            <br/>
          </p>
        </div>
        <div class="col-xs-12 col-sm-7">
          <div class="section-header">
            <h2 class="section-title">
              &Agrave; propos de nous
            </h2>
            <div class="dash"></div>
          </div>
          <div class="section-text">
            <p>Ce qui nous distingue.<br/> Nous sommes perfectionnistes, passionnés, novateurs. <br/> Déterminé à réinventer
              l'Assurance. <br/> Parce que le monde a changé, le modèle traditionnel doit s'adapter aux nouvelles réalités.<br/> 
              C’est pourquoi, pour vous, nous avons créé Hello Victor l’assurance 100% numérique. <br/> Assurez-vous en quelques
              minutes au juste prix correspondant précisément à vos besoins.</p>
          </div>
        </div>
      </div>
      <div class="link-bottom text-center">
        <span class="glyphicon glyphicon-menu-down"></span>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
<footer class="footer-site clearfix">
  <div class="footer-block pull-left">
    <div class="footer-block-inner">
      <div>&copy;Hello Victor 2017</div>
      <ul class="menu-footer">
        <li>
          <a href="mentions-legales.html" id="mentions_legales-{{page}}">Mentions légales</a>
        </li>
        <li>
          <a href="politique-confidentialite.html" id="politique_confidentialite-{{page}}">Politique de Confidentialité</a>
        </li>
        <li>
          <a href="mailto:contact@hellovictor.fr" id="contact_mail-{{page}}">Contactez-nous</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-block  pull-right">
    <div class="footer-block-inner">
      <div class="block-share">
        <a href="http://facebook.com/hellovictorassurance" target="_blank" id="facebook"><i class="icon icon-facebook"></i></a>
        <a href="http://twitter.com/_myvictor" target="_blank" id="twitter"><i class="icon icon-twitter"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-block logo text-center">
    <div class="footer-block-inner">
      <a href="/" id="back-home-footer"><img src="/assets/images/logo-hello-victor-white.svg" alt="Hello Victor - Votre ange gardien" class="img-responsive"
        /></a>
    </div>
  </div>
  <div class="legal-text">
    Concept Marque & Projet : Liberty Finances, société au capital de 1 000 000 €
  </div>
</footer>